<div class="share-container">
   <a class="a2a_dd article-share-link"
      href="https://www.addtoany.com/share"
      data-a2a-url="<%- post.permalink %>"
      data-a2a-title="<%- post.title %>">
   <i class="fa fa-share"></i><%=__('article.share')%></a>
</div>


