<% if (typeof(script) !== 'undefined' && script) { %>
	<script src="/js/gitment.browser.js"></script>
	<script async>
		var gitment = new Gitment({
			owner: '<%= theme.comment.gitment.owner %>',
			repo: '<%= theme.comment.gitment.repo %>',
			oauth: {
				client_id: '<%= theme.comment.gitment.client_id %>',
				client_secret: '<%= theme.comment.gitment.client_secret %>',
			},
      });

      if ($("#commentContainer").length > 0) {
         gitment.render('commentContainer');
      }
	</script>
	<% } else { %>
	<div id="commentContainer"></div>
<% } %>
