<div class="share-container">
<% if (theme.share === 'addtoany') { %>
    <%- partial('addtoany') %>
<% } %>
</div>
<% if (!theme.share || theme.share === 'default') { %>
   <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><i class="fa fa-share"></i><%=__('article.share')%></a>
<% } %>
