<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. All Right Reserved.
        </div>
    </div>
</footer>
